@import "../../../style/reset.css";

body {
    margin: 0;
    padding: 0;
}

/**
 * 画布
 */
.ec-editor-canvas {
    position: relative;
    z-index: 1;

    &-inner {
        overflow: hidden;
        margin: 0 auto;
    }
}

.ec-editor-canvas {
    .ac-tabs {
        &-title {
            display: inline-block;
        }
    }
}

.ec-editor-pc {

    .ec-editor-canvas-inner {
        width: 1200px;
        min-height: 400px;
    }
}

.ec-editor-mobile {

    .ec-editor-canvas-inner {
        width: 750px;
        min-height: 400px;
    }
}
