@import "../../../style/reset.css";
@import "../../css/common.scss";
@import "./edit-module-hack.scss";

::-webkit-scrollbar-track
{
    background-color: rgba(0,0,0,0.5);
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    background-color: rgba(0,0,0,0.3);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/**
 * 画布
 */
.ec-editor-canvas {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    background: #2B2B2E;
    z-index: 1;

    &-inner {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
    }
}

.ec-editor-canvas {
    .ac-tabs {
        &-title {
            display: inline-block;
        }
    }

    &-inner {
        .tmc-img {
            img, .imgWarp {
                @extend .pointer-events-disabled;
            }
        }

        .tmc-layer {
            overflow: hidden;
        }
    }
}

.ec-editor-pc {
    .ec-editor-canvas-inner {
        width: 1200px;
        min-height: 400px;
    }
}


.ec-editor-left-panel {
    display: flex;
    height: 100%;
}

.div-title {
    margin-bottom: 6px;
}

//.ant-row {
//    margin-bottom: 16px;
//    margin-top: 16px;
//}

.ec-editor-layout-fixed {
    opacity: 1;
}

.menu-button {
    position: fixed;
    left: 10px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    z-index: 22222;

    .anticon-appstore-o {
        line-height: 60px;
        font-size: 26px;
        color: #fff;
    }

    img {
        width: 50px;
        height: 50px;
    }
}

