@import "../../../style/reset.css";

::-webkit-scrollbar-track
{
    border-radius: 6px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .5);
    background-color: #999;
}
@keyframes fade-in {
    0% {display:none;}
    100% {display: block;}
}
@keyframes action_scaleOut{
    0%{transform: scale(0.2);opacity: 0;}
    100%{ transform: scale(1);opacity: 1;}
}

@keyframes action_translateX{
    0%{transform: translateX(-50px);background: #2B2B2E;}
    100%{ transform: translateX(0px);background: #24272E;}
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    // background: #2B2B2E !important;
}

/**
 * 画布
 */
.ec-editor-canvas {
    position: relative;
    z-index: 1;
    min-height: 100%;
    &-inner {
        overflow: hidden;
        margin: 0 auto;
    }
}

.ec-editor-canvas {
    .ac-tabs {
        &-title {
            display: inline-block;
        }
    }
}

.ec-editor-pc {

    .ec-editor-canvas-inner {
        width: 1200px;
        min-height: 400px;
    }
}

/**
 * mobile 画布配置
 */
.ec-editor-mobile {

    .ec-editor-canvas-inner {
        background: #fff;
        width: 750px;
        min-height: 400px;
        transform-origin: 50% 0;
        transform: scale(0.5);
        box-shadow: 0px 0px 12px 0 #666;
    }
}

.ec-editor-canvas-inner {
    .tmc-img {
        img {
            pointer-events: none;
        }
    }
}
.ec-editor-mobile{
    background: #2B2B2E;
    .ec-editor-left-panel{
        display: flex;
        height: 100%;
    }
    .ec-editor-pub-comps {
        width: 80px;
        font-size: 12px;
        background: #212125 100%;
        color: #DEDEE0;
        margin-bottom: 0;
        .icon-font,
        .icon-layers{
            display: block;
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    .ec-editor-layer-cake {
        z-index: 88;
        width: 160px;
        background: #24272E 100%;
        color: #8E8E94;
        animation: action_translateX;
        animation-duration: 0.5s;
        -webkit-animation:action_translateX 0.5s;
    }
    .ec-panel-title {
        background: #2D2D32;
        color: #DEDEE0;
        font-size: 14px;
        height: 44px;
        line-height: 44px;
        margin-bottom: 14px;
    }
    .ec-panel-item-active>div{
        margin-bottom: 14px;
    }
    .div-title{
        margin-bottom: 6px;
    }
    .ec-editor-pub-comps-items {
        height: 80px;
        padding-top: 14px;
    }
    .ec-editor-layer-cake-index {
        background: none;
        text-align: center;
        height: 14px;
        width: 14px;
        font-size: 12px;
        border: 1px solid;
        margin-left: 4px;
    }

    .ec-editor-layer-cake-title {
        background: #2D2D32;
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        color: #DEDEE0;
        .anticon-check-circle-o{
            padding-right: 4px;
        }
    }
    .ec-editor-basic-props label {
        display: block;
    }
    .ec-editor-basic-props button{
        margin-top: 8px;
    }
    .ec-editor-basic-props-background {
        width: 244px;
        .inline-block{
            width: 100%;
        }
        input[type="text"]{
            width: 164px;
        }
    }
    .ec-editor-basic-props-border{
        .ant-select-selection--single{
            margin: 0 1px;
        }
    }
    .ec-panel-item .ec-editor-basic-props-img p{
        label{
            display: block;
        }
        input[type="text"]{
            width: 240px;
        }
    }
    .ec-editor-basic-props-attr input[type="text"]{
        width: 240px;
    }
    .ec-editor-basic-props-attr p{
        margin-bottom: 14px;
        label{
            display: inline-block;
            width: 80px;
        }
        input[type="text"]{
            display: inline-block;
            width: 176px;
        }
    }
    .ec-editor-menu {
        width: 194px;
        height: 300px;
        left: 74px;
        bottom: 10px;
        border-radius: 20px;
        animation: action_scaleOut;
        animation-duration: 1s;
        -webkit-animation:action_scaleOut 1s;
    }
    .ant-btn-sm {
        width: 120px;
        height: 60px;
        font-size: 14px;
        background: none;
        border: none;
        color: #DEDEE0;
        text-align: left;
        margin-left: 44px;
        img{
            margin-right: 8px;
        }
    }
    .ant-row {
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active,
    .ant-btn.active {
        background: none;
        color: #CC504A;
    }
    .ec-editor-pub-comps-items:hover{
        background: #0255DF;
    }
    .ec-editor-layer-cake-main {
        font-size: 12px;
        max-height: 100%;
        padding-bottom: 20px;
        /*overflow: scroll;*/

    }
    .ec-editor-layer-cake-items-not-active,
    .ec-editor-layer-cake-content
    .ec-editor-layer-cake-items,
    .ec-editor-layer-cake-items-sub{
        line-height: 40px;
    }

    .ec-editor-layer-cake-content:hover {
        background: #2D3035;
    }
    .ec-editor-layout-fixed{
        opacity: 1;
    }
    .menu-button{
        position: fixed;
        left: 10px;
        bottom: 20px;
        z-index: 999999;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        .anticon-appstore-o{
            line-height: 60px;
            font-size: 26px;
            color: #fff;
        }
    }
    .show-right{
        position: fixed;
        left: 56px;
        top: 50%;
        margin-top: -24px;
        z-index: 999;
        width: 48px;
        height: 48px;
        line-height: 48px;
        border-radius: 50%;
        text-align: center;
        background: #212125;
        .anticon-right:before{
            font-size: 24px;
            color: #8E8E94;
            line-height: 44px;
            padding-left: 8px;
        }
    }
    .closeRight{
        transform: rotate(180deg);
        line-height: 48px;
        padding-right: 20px;
    }
    input[type="text"] {
        border: 1px solid #2D2D32;
        padding: 3px 5px;
        background: #2D2D32;
        color: #8E8E94;
        width: 120px;
    }
    .ec-panel-layout button{
        background: #2D2D32;
        color: #8E8E94;
        border: 1px solid #2d2d32;
        padding: 0 4px;
    }
    .ec-editor-basic-props label {
        margin-bottom: 4px;
    }
    .ec-panel-layout-visible {
        background: #212125 100%;
        font-size: 12px;
    }
    .ec-panel-title-text{
        padding: 0 5px 5px 20px;
    }
    .ec-panel-close {
        margin-top: -21px;
    }
    .ant-btn-group {
        margin: 6px 0;
    }
    .ant-select-selection--single,
    .ec-edit-border-color,
    .ant-input-number,
    .ant-input-number-input,
    .ant-btn-small{
        background: #2D2D32;
        border: 1px solid #2D2D32;
        color: #8E8E94;
    }
    .ec-panel-main {
        color: #8E8E94;
        padding: 0 20px;
    }
    .ant-btn-group-sm > .ant-btn {
        line-height: 22px;
    }
}


