
.ec-edit-border {
    display: inline-block;

    &-style-solid {
        border-bottom: 1px solid #333;
    }

    &-style-double {
        border-bottom: 1px double #333;
    }

    &-style-dashed {
        border-bottom: 1px dashed #333;
    }

    &-style-dotted {
        border-bottom: 1px dotted #333;
    }

    &-color {
        width: 52px;
        height: 27px;
        background: transparent;
        display: inline-block;
        vertical-align: middle;
        border: 5px solid #d9d9d9;
        border-radius: 4px;
    }
}