/**
 * @file reset.css
 * @author denglingbo
 *
 * css
 */
* {
    outline: none;
    -webkit-touch-callout: none;
    user-select: none;
    box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

body, input, textarea {
    font-size: 12px;
}

b {
    font-weight: normal;
}

em {
    font-style: normal;
}

input[type="text"] {
    border: 1px solid #eee;
    padding: 3px 5px;
}

.left {
    float: left;
}
.right {
    float: right;
}

// TODO: 不能改框架的默认样式啊
/* .ant-popover-inner-content {
    padding: 0;
} */