.as-panel-layout {
    background: #fff;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid #eee;
    box-shadow: -3px 0 8px -4px #ccc;
    padding: 15px;
    width: 300px;
    height: 100%;
    transition: all .2s;
    z-index: 9;

    .as-panel-item {

        &-hide {
            display: none;
        }
    }
}
