.editable-tips {
    position: absolute;
    z-index: 99;
    border: 1px dashed #000;
    pointer-events: none;

    &-hide {
        display: none;
    }
}

.editable-active-panel {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}
