.editable-tips {
    position: fixed;
    z-index: 99;
    border: 1px dashed #000;
    pointer-events: none;
    overflow: hidden;
    box-shadow: 0 0 6px -2px #000;

    &-name {
        position: relative;
        left: 0;
        top: 0;
        padding: 5px 10px;
        height: 30px;
        line-height: 20px;
        font-size: 14px;
        color: #fff;
        display: inline-block;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 0 0 6px 0;
    }

    &-hide {
        opacity: 0;
    }
}

.editable-active-panel {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.2);

    &-bar {
        position: absolute;
        display: inline-block;
        right: 1px;
        top: 1px;
        font-size: 20px;
        background: #bbb;
        box-shadow: -2px 2px 4px -2px #222;
        border-radius: 0 0 0 6px;
        overflow: hidden;
    }

    &-buttons {
        cursor: pointer;
        padding: 2px 8px;
        pointer-events: visible;

        &:hover {
            background: #929292;
        }
    }
}
