.ec-panel {
    $layoutWidth: 300px;

    /* 外部容器 */
    &-layout {
        background: #ededed;
        position: fixed;
        right: -$layoutWidth;
        top: 0;
        bottom: 0;
        box-shadow: -2px 0 6px -4px #999;
        padding: 0;
        width: $layoutWidth;
        height: 100%;
        transition: all .2s;
        z-index: 888;
        margin-top: 51px;

        &-visible {
            right: 0;

            .ec-panel-title-button {
                left: 0;
                background: #bbb;
            }
        }
    }

    $buttonWidth: 15px;
    &-title {
        margin-bottom: 15px;
        background: #bbb;
        color: #fff;

        &-button {
            position: absolute;
            left: -$buttonWidth;
            display: inline-block;
            background: #000;
            width: $buttonWidth;
            height: 30px;
            line-height: 30px;
            text-align: center;
            transition: all .2s;
        }

        &-text {
            padding: 0 5px 5px 15px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
        }
    }

    &-main {
        padding: 0 15px;
    }

    /* 每一个目标的编辑容器 */
    &-item {
        &-hide {
            display: none;
        }
    }
}
