@import "../css/common.scss";

.ec-panel {
    $layoutWidth: 300px;

    &-close {
        position: absolute;
        top: 50%;
        margin-top: -14px;
    }

    /* 外部容器 */
    &-layout {
        @extend .ec-eidtor-layout-fixed;

        right: -$layoutWidth;
        bottom: 0;
        width: $layoutWidth;
        height: 100%;

        &-visible {
            right: 0;

            .ec-panel-title-button {
                left: 0;
                background: #bbb;
            }
        }
    }

    $buttonWidth: 15px;
    &-title {
        @extend .ec-eidtor-layout-fixed-title;

        &-button {
            position: absolute;
            left: -$buttonWidth;
            display: inline-block;
            background: #000;
            width: $buttonWidth;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }

        &-text {
            padding: 0 5px 5px 15px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
        }
    }

    &-main {
        @extend .ec-eidtor-layout-fixed-main;
    }

    /* 每一个目标的编辑容器 */
    &-item {
        &-hide {
            display: none;
        }
    }
}
