$padding: 20px;

.ec-editor-banner {
    min-width: 1200px;
    background-color: #31364a;
    height: 50px;
    line-height: 50px;
    &-left {
        color: #fff;
        font-size: 30px;
        padding-left: $padding;
    }
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
        padding-right: $padding;
    }
    .ec-editor-btn {
        background-color: #76838F;
        color: #FFFFFF;
        border: none;
        padding: 5px;
        border-radius: 3px;
        transition: all .3s linear 0s;
        margin-left: 6px;

        &-red {
            background-color: #FF5448;
        }

        &:hover {
            background-color: #44CB83;
        }
    }
    .ec-editor-component {
        line-height: normal;
        height: 50px;
        &-list {
            display: inline-block;
            width: 60px;
            text-align: center;
            padding-top: 4px;
            height: 100%;
            margin-right: 4px;
            cursor: pointer;
            span, .anticon {
                color: #fff;
            }
            span {
                font-size: 12px;
            }
            .icon-font {
                font-size: 16px;
                margin-bottom: 2px;
            }
            &:hover {
                background-color: #484d64;
            }
        }
    }
    &-list {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 29;
    }
}