# webpack compile ignore
dist/
client/public/

# node ignore
node_modules/

#ide file
.DS_Store
.idea/

#log file
ncp-debug.log
npm-debug.log
npm-debug.log.*

client/lib/

# 服务端渲染新增中转文件
client/ssr/publish/

server/images/

ssr/node_modules
ssr/render
