.ec-editor-wrap {
    position: relative;
}

.ec-editor-flag {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #000;
    color: #fff;
    opacity: 0.8;
    border-radius: 0 4px 4px 0;
    display: none;
}

.ec-editor-active {
    .ec-editor-flag {
        display: block;
    }
}

// .ec-editor-canvas {
//     width: 750px;
//     overflow: hidden;
//     margin: 0 auto;
//     border: 1px solid #a29191;
//     display: flex;
// }

// .ec-editor-canvas-inner {
//     display: flex;
//     width: inherit;
// }
