@import "../../css/common";

.ec-editor-pub-comps {
    position: static;
    margin-bottom: 0;
    width: 80px;
    font-size: 12px;
    background: #212125;
    color: #DEDEE0;

    .ec-editor-layout-fixed-title {
        height: 50px;
        padding: 15px 0;
        background: #161616;
        margin: 0;
        text-align: center;

        .ec-editor-logo {
            display: inline-block;
            width: 70px;
            height: 18px;
            background: url("../../images/wuget-logo-white.png") no-repeat 0 0;
            background-size: 100%;

            &-leave {
                @include bezierAnimate('out-quint', 0.4s);
            }
        }
    }

    .icon-font,
    .icon-layers {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &-items {
        height: 80px;
        cursor: pointer;
        margin-bottom: 10px;
        padding-top: 14px;
        text-align: center;

        &:hover {
            background: #0255DF;
        }
    }
}

.ec-editor-pub-comps .ec-editor-layout-fixed {
    &-main {
        padding: 0 !important;
    }
}