.ec-editor-pub-comps {
    position: static;
    margin-bottom: 0;
    width: 80px;
    font-size: 12px;
    background: #212125;
    color: #DEDEE0;

    .icon-font,
    .icon-layers {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &-items {
        height: 80px;
        cursor: pointer;
        margin-bottom: 10px;
        padding-top: 14px;
        text-align: center;

        &:hover {
            background: #0255DF;
        }
    }
}

.ec-editor-pub-comps .ec-editor-layout-fixed {
    .ec-editor-layout-fixed-main {
        padding: 0;
    }
}