/**
 * css3 bezier transition
 */
$bezier-obj: (
    in-back: '.6, -.28, .735, .045',
    out-back: '.175, .885, .32, 1.275',
    out-quint: '.23, 1, .32, 1'
);
@mixin bezierAnimate($type: 'out-quint', $dur: 0.2s, $prop: all, $delay: 0s) {
    @each $key, $val in $bezier-obj {
        @if $key == $type {
            transition: $prop $dur cubic-bezier(#{$val}) $delay;
        }
    }
}

@mixin textEllipsis($width) {
    width: $width;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * fixed 属性的编辑模块的通用样式
 */
.ec-editor-layout-fixed {
    @include bezierAnimate('out-quint');

    position: fixed;
    padding: 0;
    z-index: 888;
    opacity: 0.96;
    top: 0;
    height: 100%;

    &-title {
        position: relative;
        height: 30px;
        line-height: 30px;
        margin-bottom: 15px;
        padding-left: 5px;
        background: #bbb;
        // color: #fff;
    }

    &-main {
        padding: 0 15px;
    }
}

/**
 * shadow
 */

.box-shadow {
    box-shadow: 0 0 7px -1px #000000;
}
