.tmc-img {
  box-sizing: border-box;
  overflow: hidden; }
  .tmc-img img {
    display: block;
    width: 100%; }
.tmc-layer {
  min-height: 20px; }
.tmc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start; }
  .tmc-list-cols-2 .tmc-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .tmc-list-cols-3 .tmc-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%; }
  .tmc-list-cols-4 .tmc-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
