.ec-panel-main {
    .ant-calendar-picker {
        width: 250px !important;

        .ant-calendar-picker-input {
            background: #2D2D32;
            color: #8E8E94;
            border: 1px solid #2D2D32;
        }
    }
}