$padding: 20px;

.ec-editor-menu {
    position: fixed;
    line-height: 50px;
    z-index: 9999;
    display: block;
    background: #2D3035;
    width: 160px;
    height: 282px;
    left: 80px;
    bottom: 20px;
    border-radius: 20px;
    transition: all .4s;
    transform: perspective(600) rotateY(0deg);
    transform-origin: 0 0;
    opacity: .95;
    .triangle-left {
        position: absolute;
        left: -12px;
        bottom: 30px;
        z-index: 9999;
        border-top: 10px solid transparent;
        border-right: 20px solid #2D3035;
        border-bottom: 10px solid transparent;
        opacity: .8;
    }
    .ant-btn-sm {
        width: 120px;
        height: 56px;
        font-size: 14px;
        background: none;
        border: none;
        color: #DEDEE0;
        text-align: left;
        margin-left: 20px;
        padding-left: 20px;
        border-bottom: 1px solid #383737;
    }
    .ant-btn-sm:last-child {
        border-bottom: 0;
    }
}

.hide {
    transform: perspective(600) rotateY(90deg);
    opacity: .2;
}