
.tmc-img {
    box-sizing: border-box;
    overflow: hidden;
    min-height: 20px;
    border: 1px solid #697177;
    img {
        display: block;
        width: 100%;
        // height: 100%;
    }
}
