input[type="text"] {
    border: none;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.ec-editor-basic {
    &-props {
        margin-bottom: 4px;
        label {
            display: block;
            margin-right: 2px;
        }
        button{
            margin-top: 8px;
        }
        &-width, &-height, &-margin, &-padding {
            input {
                width: 80px;
            }
        }
        &-border{
            .ant-select-selection--single{
                margin: 0 1px;
            }
        }
        &-background {
            width: 244px;
            .inline-block{
                width: 100%;
            }
            input[type="text"]{
                width: 164px;
            }
        }
    }
}