.com-guide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    &-rect {
        position: absolute;
        // border: 1px solid #fff;
        width: 20px;
        height: 20px;
        z-index: 100001
    }
}

.mask-canvas {
    &-hide {
        display: none;
    }
    &-show {
        display: block;
    }
}

.pop-guide {
    z-index: 999999;
    .ant-btn {
        display: none;
    }
    .ant-popover-buttons {
        overflow: hidden;
    }
    .ant-btn-primary {
        display: block;
        float: right;
    }
    .ant-popover-inner {
        padding: 2px 11px 1px 6px;
    }
}

