@import "../../../style/reset.css";

$boxColor: 280px;

body {
    margin: 0;
    padding: 0;
    background: #FCFCFC;
}

.page-list-pagin {
    padding-bottom: 40px;
}

.page-list-pagin, .page-list-wrap {
    overflow: hidden;
    padding-top: 20px;
    margin: 50px auto;
    width: 1200px;
    text-align: center;
}
 
.page-list-empty {
    color: #999;
    margin: 30px auto;
}

.page-list-card {
    float: left;
    margin: -3px 0 14px 14px;
    padding-bottom: 19px;
    width: $boxColor;
    border: 1px solid #f8f8f8;
    background: #ffffff;
    border-radius: 4px;
    animation-duration: .75s;
    box-shadow: 4px 4px 10px #eee;

    &:hover {
        border: 1px solid #8D8D8D;
        transform: translate3d(0, -1px, 0);
    }

    overflow: hidden;
    &-img {
        width: $boxColor;
    }
    &-button {
        padding: 0 10px;
    }
    &-title {
        overflow: hidden;
        padding: 10px 0;
        &-left {
            float: left;
        }
        &-right {
            float: right;
        }
    }
    &-button-wrap {
        overflow: hidden;
    }
    &-icon {
        float: left;
        margin-right: 10px;
        span:first-child {
            margin-right: 2px;
            font-size: 16px;
            vertical-align: middle
        }
    }
    &-text {
        color: #999999;
        vertical-align: middle
    }
    &-icon-hover {
        cursor: pointer;
        &:hover {
            span {
                color: #333;
                
            }
        }
    }

    &-imgWrap {
        position: relative;
    }
    &-pendant {
        position: absolute;
        top: 0;
        left: 0;
        background: #999999;
        width: 80px;
        height: 80px;
    }
}