
.ac-tabs {

    &-title {

        &-items {
            display: inline-block;
        }
    }

    &-content {

        &-items {
            display: none;

            &-active {
                display: block;
            }
        }
    }
}