@import "../css/common.scss";

.ec-editor-layer-cake {
    z-index: 888;
    left: 0;
    width: 100px;

    &-title {
        @extend .ec-editor-layout-fixed-title;
    }

    &-main {
        @extend .ec-editor-layout-fixed-main;
    }

    &-items {
        margin-bottom: 5px;
        cursor: pointer;

        &-sub {
            margin-bottom: 0;
            margin-left: 4px;
        }

        .icon-font {
            margin-right: 4px;
        }
    }

    &-content {
        &:hover {
            background: #eee;
        }
    }
}