@import "../../css/common.scss";

.ec-editor-layer-cake {
    @include bezierAnimate('out-back');

    z-index: 88;
    position: fixed;
    left: 80px;
    width: 160px;
    height: 100%;
    background: #24272E 100%;
    color: #DEDEE0;
    transform: translateX(-160px);
    //transform: translateX(0);

    &-active {
        transform: translateX(0);
    }

    &-title {
        background: #2D2D32;
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        color: #DEDEE0;
        margin-bottom: 5px;
        padding-left: 10px;

        &-name {
            padding-left: 3px;
        }

        &-edit {
            position: absolute;
            right: 12px;
            font-size: 12px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;

                .anticon {
                    @include bezierAnimate('out-quint', 0.8s);
                    transform: rotate(360deg);
                }
            }
        }
    }

    &-main {
        @extend .ec-editor-layout-fixed-main;
        overflow-y: auto;
        font-size: 12px;
        max-height: 100%;
        padding: 0 0 20px 0;
    }

    // displayName 输入框
    &-input-name {
        padding: 0 3px;
        height: 24px;
        display: inline-block;
        width: 80px;
        border: 1px solid #2D2D32;
        background: #2D2D32;
        color: #8E8E94;
    }

    &-content {
        padding: 0 20px;
        color: #DEDEE0;

        &-name {
            @include textEllipsis(120px);
        }

        /**
         * 编辑模式
         */
        &-bar {
            position: absolute;
            width: 47px;
            right: 8px;
            overflow: hidden;

            .ec-editor-layer-cake-item-edit {
                margin-right: 4px;
                cursor: pointer;
                padding: 5px 3px;

                .anticon-edit {}
            }

            /**
             * 排序
             */
            .ec-editor-layer-cake-index {
                text-align: center;
                height: 24px;
                width: 25px;
                font-size: 12px;
                padding: 3px 5px;
                border: 1px solid #2D2D32;
                background: #2D2D32;
                color: #8E8E94;

                &-hide {
                    display: none;
                }
            }
        }

        img {
            width: 11px;
            height: 13px;
            margin-right: 7px;
            margin-bottom: -2px;
        }

        &:hover {
            background: #2D3035;
        }
    }

    &.ec-editor-layer-cake-edit {
        .ec-editor-layer-cake-content-name {
            @include textEllipsis(86px);
        }
    }

    &-items {
        cursor: pointer;

        &-active {
            .ec-editor-layer-cake-content {
                background: #2D3035;
            }
        }

        .ec-editor-layer-cake-content {
            height: 28px;
            line-height: 28px;

            .ant-collapse > .ant-collapse-item > .ant-collapse-header[aria-expanded="true"] .arrow,
            .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow{
                line-height: 28px;
            }
        }
        //span {
        //    pointer-events: none;
        //}

        &-sub {
            margin-bottom: 0;
            margin-left: 0;
            // padding-left: 18px;

            .ec-editor-layer-cake-content {
                height: 28px;
                line-height: 28px;
                color: #8E8E94;

            }

            &-no-child {
                & > .ant-collapse-header .arrow {
                    display: none !important;
                }
            }
        }

        .icon-font {
            margin-right: 4px;
        }
    }
}

/* 重置按钮样式*/
.ant-collapse,
.ant-collapse-content {
    background-color: #24272E;
    border-radius: 0;
    border: 0;
}

.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item {
    border-radius: 0;
    border-bottom: 0;
}

.hide {
    display: none;
}

.show {
    display: inline;
}

.ant-collapse-content > .ant-collapse-content-box {
    padding-top: 0;
    padding-bottom: 0;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header,
.ant-collapse-content {
    padding: 0;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header[aria-expanded="true"] .arrow,
.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
    left: 6px;
    line-height: 28px;
    color: #DEDEE0;
}

.ant-collapse > .ant-collapse-item-disabled > .ant-collapse-header,
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header > .arrow {
    background: none !important;
}
