@import "../../css/common.scss";

.ec-editor-layer-cake {
    z-index: 888;
    left: 0;
    width: 100px;

    &-title {
        @extend .ec-editor-layout-fixed-title;
    }

    &-main {
        @extend .ec-editor-layout-fixed-main;

        max-height: 400px;
        overflow-y: auto;
    }

    &-index {
        width: 20px;
    }

    &-name {
        max-width: 50px;
        display: inline-block;
    }

    &-items {
        margin-bottom: 5px;
        cursor: pointer;

        //span {
        //    pointer-events: none;
        //}

        &-sub {
            margin-bottom: 0;
            margin-left: 4px;
        }

        .icon-font {
            margin-right: 4px;
        }
    }

    &-content {
        &:hover {
            background: #eee;
        }
    }
}
.ec-editor-layer-cake-active{
    display: none;
}
.ec-editor-layer-cake-content img{
    width: 11px;
    height: 13px;
    margin-right: 7px;
}