
/**
 * placeholder
 */
.editor-placeholder {
    width: 100%;
    opacity: 0.6;
    pointer-events: none;
    font-size: 30px;
    height: 160px;
    color: #999;
    line-height: 160px;
    text-align: center;
    background: #eee;
}