/**
 * placeholder
 */
.editor-placeholder {
    width: 100%;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0.6;
    pointer-events: none;
    font-size: 30px;
    color: #999;
    background: #eee;
}