.ec-edit-control {
    position: absolute;
    visibility: hidden;
    z-index: 887;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;

    &-line {
        position: absolute;
        background: #333;
        pointer-events: visible;
    }

    &.ec-edit-control-active {
        .ec-edit-control-line {
        }
    }

    &-top, &-bottom {
        width: 100%;
        height: 1px;
    }

    &-right, &-left {
        width: 1px;
        height: 100%;
    }

    &-top {
        top: 0;
    }
    &-right {
        right: 0;
    }
    &-bottom {
        bottom: 0;
    }
    &-left {
        left: 0;
    }
}