.ec-edit-control {
    position: absolute;
    visibility: hidden;
    z-index: 887;
    background: #9BA5AE;
    pointer-events: none;
    opacity: .5;

    &-line {
        position: absolute;
        background: #fff;
        pointer-events: visible;
    }

    &-top, &-bottom {
        width: 100%;
        height: 1px;
    }

    &-right, &-left {
        width: 1px;
        height: 100%;
    }

    &-top {
        top: 0;
    }
    &-right {
        right: 0;
    }
    &-bottom {
        bottom: 0;
    }
    &-left {
        left: 0;
    }

    .edit-tools {
        z-index: 9999;
        width: 60px;
        height: 24px;
        background: #697177;
        position: absolute;
        right: 0;

        .anticon-delete,
        .anticon-copy {
            width: 50%;
            line-height: 24px;
            font-size: 14px;
            color: #fff;
        }
    }
}