html, body, #root {
    height: 100%;
}

.ec-editor-scroller, .ec-editor-viewer {
    height: 100%;
}

.ec-editor-canvas {
    background: #fff;
    height: 100%;

    &-inner {
        height: 100%;
    }
}

.tmc-click-area {
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}
