#root {
    height: 100%;
}

.ec-editor-view {
    background: #fff;
    height: 100%;

    &-inner {
        height: 100%;
    }

    .tmc-click-area {
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}
